{% extends 'base.html.twig' %}

{% block title %}Sales reports{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="quantity-container"></div>
    <div id="price-container"></div>
    <script language="JavaScript">
        $(document).ready(function () {

            var quantityOptions = {
                chart: {
                    renderTo: 'quantity-container',
                    type: 'spline'
                },
                title: {text: 'Sales by quantity'},
                xAxis: {},
                series: []
            };

            var priceOptions = {
                chart: {
                    renderTo: 'price-container',
                    type: 'spline'
                },
                title: {text: 'Sales by price'},
                xAxis: {},
                series: []
            };

            $.getJSON('{{ path('products_get_by_month') }}', function (data) {

                var categories = [];
                var quantitySeries = [];
                var priceSeries = [];
                var firstProduct = true;
                $.each(data, function (index, product) {
                    if (typeof quantitySeries[product.product_id] === 'undefined') {
                        quantitySeries[product.product_id] = {
                            name: product.product_name,
                            data: []
                        };
                        priceSeries[product.product_id] = {
                            name: product.product_name,
                            data: []
                        };
                    }
                    categories.push(product.date);
                    quantitySeries[product.product_id].data.push(parseFloat(product.quantity));
                    priceSeries[product.product_id].data.push(parseFloat(product.price));
                    if (firstProduct) {
                        quantityOptions.xAxis.categories = categories;
                        priceOptions.xAxis.categories = categories;
                        firstProduct = false;
                    }

                });
                $.each(quantitySeries, function (index, item) {
                    if (typeof item !== 'undefined') {
                        quantityOptions.series.push(item);
                    }
                });
                $.each(priceSeries, function (index, item) {
                    if (typeof item !== 'undefined') {
                        priceOptions.series.push(item);
                    }
                });
                var quantityChart = new Highcharts.Chart(quantityOptions);
                var priceChart = new Highcharts.Chart(priceOptions);
            });


            var title = {
                text: 'Daily visits at www.highcharts.com'
            };

            {#var subtitle = {#}
            {#    text: 'Source: Google Analytics'#}
            {#};#}

            {#var xAxis = {#}
            {#    tickInterval: 7 * 24 * 3600 * 1000, // one week#}
            {#    tickWidth: 0,#}
            {#    gridLineWidth: 1,#}

            {#    labels: {#}
            {#        align: 'left',#}
            {#        x: 3,#}
            {#        y: -3#}
            {#    }#}
            {#};#}

            {#var yAxis = [#}
            {#    { // left y axis#}
            {#        title: {#}
            {#            text: null#}
            {#        },#}
            {#        labels: {#}
            {#            align: 'left',#}
            {#            x: 3,#}
            {#            y: 16,#}
            {#            format: '{value:.,0f}'#}
            {#        },#}
            {#        showFirstLabel: false#}
            {#    },#}
            {#    { // right y axis#}
            {#        linkedTo: 0,#}
            {#        gridLineWidth: 0,#}
            {#        opposite: true,#}

            {#        title: {#}
            {#            text: null#}
            {#        },#}
            {#        labels: {#}
            {#            align: 'right',#}
            {#            x: -3,#}
            {#            y: 16,#}
            {#            format: '{value:.,0f}'#}
            {#        },#}
            {#        showFirstLabel: false#}
            {#    }#}
            {#];#}

            {#var tooltip = {#}
            {#    shared: true,#}
            {#    crosshairs: true#}
            {#};#}

            {#var legend = {#}
            {#    align: 'left',#}
            {#    verticalAlign: 'top',#}
            {#    y: 20,#}
            {#    floating: true,#}
            {#    borderWidth: 0#}
            {#};#}

            {#var plotOptions = {#}
            {#    series: {#}
            {#        cursor: 'pointer',#}
            {#        point: {#}
            {#            events: {#}
            {#                click: function (e) {#}
            {#                    hs.htmlExpand(null, {#}
            {#                        pageOrigin: {#}
            {#                            x: e.pageX || e.clientX,#}
            {#                            y: e.pageY || e.clientY#}
            {#                        },#}
            {#                        headingText: this.series.name,#}
            {#                        maincontentText: Highcharts.dateFormat(#}
            {#                            '%A, %b %e, %Y', this.x) +#}
            {#                            ':<br/> ' + this.y +#}
            {#                            ' visits', width: 200#}
            {#                    });#}
            {#                }#}
            {#            }#}
            {#        },#}
            {#        marker: {#}
            {#            lineWidth: 1#}
            {#        }#}
            {#    }#}
            {#};#}

            {#var series = [#}
            {#    {#}
            {#        name: 'All visits',#}
            {#        lineWidth: 4,#}
            {#        marker: {#}
            {#            radius: 4#}
            {#        }#}
            {#    },#}
            {#    {#}
            {#        name: 'New visitors'#}
            {#    }#}
            {#];#}

            {#var json = {};#}
            {#json.title = title;#}
            {#json.subtitle = subtitle;#}
            {#json.xAxis = xAxis;#}
            {#json.yAxis = yAxis;#}
            {#json.tooltip = tooltip;#}
            {#json.legend = legend;#}
            {#json.series = series;#}
            {#json.plotOptions = plotOptions;#}

            {#$.getJSON('{{ path('api_sales_get_collection') ~ '.json'}}', function (csv) {#}
            {#    json.data = {#}
            {#        json: csv#}
            {#    };#}
            {#    $('#container').highcharts(json);#}
            {#});#}
        });
    </script>
{% endblock %}

